html {
  background-color: #222;
  font-family: sans-serif;
}

.center {
  width: 100%;
  height: 63vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

p {
  font-size: 1.5rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

a {
  text-decoration: none;
}

a:visited {
  color: #fff;
}

a:hover {
  color: lightblue;
}

.main .wrap {
  text-align: center;
}

.main .exhale {
  opacity: 0;
  position: absolute;
  text-shadow: 0 1.5rem 2rem #fff, 0 -1.5rem 2rem #fff;
  -webkit-animation: fadeIn 3s 4s ease forwards;
  animation: fadeIn 3s 4s ease forwards;
}

.main .breathe-ball {
  width: 0;
  height: 0;
  border-radius: 100rem;
  background-color: #222;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0.5rem 0.5rem 4rem -0.5em cyan,
    -0.5rem -0.5rem 4rem -0.5rem hotpink;
  box-shadow: 0.5rem 0.5rem 4rem -0.5em cyan,
    -0.5rem -0.5rem 4rem -0.5rem hotpink;
  -webkit-animation: breathing 10s 1s infinite;
  animation: breathing 10s 1s infinite;
  z-index: 2;
}

.main .breathe-ball .inhale {
  text-shadow: 0 0.2rem 1rem #00588b;
}

@-webkit-keyframes breathing {
  0%,
  100% {
    height: 0;
    width: 0;
  }
  40%,
  50% {
    width: 20rem;
    height: 20rem;
  }
}

@keyframes breathing {
  0%,
  100% {
    height: 0;
    width: 0;
  }
  40%,
  50% {
    width: 20rem;
    height: 20rem;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  90%,
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  90%,
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 769px) {
  .breathe-ball {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (max-width: 768px) {
  .breathe-ball {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

#colours {
  font-size: 4rem;
  text-align: center;
  height: 34vh;
  line-height: 20vh;
  color: #fcedd8;
  font-family: "Niconne", cursive;
  font-weight: 600;
  text-shadow: 5px 5px 0px #eb452b, 10px 10px 0px #efa032, 15px 15px 0px #46b59b,
    20px 20px 0px #017e7f, 25px 25px 0px #052939, 30px 30px 0px #c11a2b,
    35px 35px 0px #c11a2b, 40px 40px 0px #c11a2b, 45px 45px 0px #c11a2b;
}
