body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

.App {
  text-align: center;
  padding: 8px;
  width: 400px;
  min-height: 200px;
  overflow: hidden;
  font-family: 'Roboto Mono', monospace;
  /* background-color: #A0C3D2; */
  background-image: linear-gradient(to bottom right, #EAFDFC,#BFEAF5,#91D8E4,#82AAE3);
}

